/* Common Style */
body {
    font-family: 'Work Sans';
    font-style: normal;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0 240px;
}

.heading {
    font-size: 45px;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}

/* Navbar Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    column-gap: 40px;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    text-decoration: none;
    color: black;
}

/* Banner Section style*/
.banner-info {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 50px;
    width: 862px;
}

.banner-title {
    font-size: 64px;
}

/* Mobile Device Responsive */
@media screen and (max-width:576px) {
    header {
        padding: 0;
    }

    .heading {
        font-size: 30px;
    }

    /* navbar responsive */
    nav {
        flex-direction: column;
    }

    .nav-item {
        flex-direction: column;
        margin-top: -10px;
        row-gap: 10px;
        margin-right: 20px;
    }

    /* banner responsive */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .banner-info {
        width: 100%;
        margin-top: -15px;
    }

    .banner-title {
        font-size: 35px;
    }
    .section-description {
        margin-top: -25px;
    }

    .button {
        width: 130px;
        height: 50px;
        font-size: 18px;
    }

    .banner-img img {
        width: 100%;
    }
}