/* Common Style */
body {
    font-family: 'Work Sans';
    font-style: normal;
}

header {
    background-color: rgba(255, 144, 14, 0.1);
    padding: 0 240px;
}

main {
    margin: 130px 240px;
}

footer {
    background-color: rgba(255, 144, 14, 0.1);
    margin: 0 240px 20px 240px;

}

.heading {
    font-size: 45px;
}

.section-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}

.button {
    width: 180px;
    height: 64px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background-color: #FF900E;
    border: none;
    border-radius: 5px;
}

/* Navbar Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    font-size: 18px;
    font-weight: 500;
    column-gap: 40px;
}

.nav-item li {
    list-style: none;
}

.nav-item li a {
    text-decoration: none;
    color: black;
}

/* Banner Section style*/
.banner-info {
    text-align: center;
    float: none;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 50px;
    width: 862px;
}

.banner-title {
    font-size: 64px;
}

/*Team Work Section style */
.our-features {
    margin: 0 61px;
    display: flex;
    align-items: center;
    column-gap: 73px;
}

.features-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-h1 {
    color: #727272;
}

.features-h2 {
    color: #FF900E;
}

/* Features Details Section */
.features-description h1 {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}

.features-details {
    display: flex;
    column-gap: 146px;
    align-items: center;
    margin: 130px 0;
}

.features-description-list {
    margin-top: 30px;
    padding: 30px;
}

.features-description-list h3 {
    font-size: 20px;
}

.features-detail-pic {
    position: relative;
}

.experience {
    text-align: center;
    width: 342px;
    height: 200px;
    background: #FF900E;
    border-radius: 8px;
    position: absolute;
    top: 859px;
    right: 458px;
}

.experience h2 {
    font-size: 65px;
    color: white;
    line-height: 30px;
}

.experience span {
    font-size: 20px;
    top: -50px;
}

/* Achievement Section */
.achievement-list {
    display: flex;
    margin-top: 100px;
    column-gap: 124px;
    justify-content: center;
}

.achievement {
    padding: 10px;
    text-align: center;
    width: 241.83px;
    height: 241.83px;
    border: 1px solid#FF900E;
    border-radius: 5px;
    transition: width 2s, height 2s, font-size 2s;
    transition-timing-function: linear;
}

.achievement:hover {
    padding: 20px;
    width: 300px;
    color: white;
    height: 300px;
    background-color: rgba(173, 216, 230, 0.608);
}

.achievement h1 {
    transition: font-size 2s;
    transition-timing-function: linear;
}

.achievement:hover h1 {
    font-size: 80px;
}

/* Sponsor Section Style */
.sponsors-logo {
    display: flex;
    column-gap: 155px;
    color: #727272;
}

.sponsors-info {
    text-align: center;
    margin: 0 auto;
    margin-top: 102px;
    margin-bottom: 50px;
    width: 862px;
}

/* footer */
footer p {
    text-align: center;
    padding: 39px 410px;
}



/* Mobile Device Responsive */
@media screen and (max-width:576px) {

    header,
    main,
    footer {
        padding: 0;
    }

    main {
        margin: 50px 0;
    }

    .heading {
        font-size: 30px;
    }

    /* navbar responsive */
    nav {
        flex-direction: column;
    }

    .nav-item {
        flex-direction: column;
        margin-top: -10px;
        row-gap: 10px;
        margin-right: 20px;
    }

    /* banner responsive */
    .banner {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 50px;
    }

    .banner-info {
        width: 100%;
        margin-top: -15px;
    }

    .banner-title {
        font-size: 35px;
    }

    .section-description {
        margin-top: -25px;
    }

    .button {
        width: 130px;
        height: 50px;
        font-size: 18px;
        float: none;
        margin: 0 auto;
    }

    .banner-img img {
        width: 100%;
    }

    /* Team work section responsive */
    .features-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }

    .features-img img {
        width: 100%;
    }

    .our-features {
        margin: 0;
        flex-direction: column;
    }

    .features-discursion-info {
        text-align: center;
    }

    /* Features Details Section  responsive*/
    .features-details {
        display: flex;
        flex-direction: column;
        column-gap: 146px;
        align-items: center;
        margin: 50px 0;
    }

    .features-description {
        width: 100%;
    }

    .features-detail-pic img {
        width: 100%;
    }

    .experience {
        width: 180px;
        height: 80px;
        top: 475px;
        right: 0;
        left: 90px;
    }

    .experience h2 {
        font-size: 28px;
        line-height: 20px;
    }

    .experience span {
        font-size: 14px;
    }

    .features-description-list {
        margin-top: 10px;
        padding: 0 30px 10px 30px;
    }

    .features-description-list p {
        margin-top: 2px;
    }

    /* Achievement Section */
    .our-achievement {
        margin-top: 100px;
    }

    .achievement-info {
        width: 100%;
    }

    .achievement-list {
        flex-direction: column;
        margin-top: 30px;
        row-gap: 10px;
    }

    .achievement {
        margin: 0 auto;
        width: 70%;
        height: 60%;
    }

    .achievement:hover {
        width: 90%;
        height: 90%;
    }

    /* Sponsor Section Style */
    .sponsors-logo {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        row-gap: 15px;
        column-gap: 50px;
    }

    .sponsors-logo img {
        width: 60px;
        height: 35px;
    }

    .sponsors-info {
        width: 100%;
        margin-top: 50px;
    }

    /* footer responsive */
    footer {
        background-color: rgba(255, 144, 14, 0.1);
        margin: 0;
    }

    footer p {
        padding: 0;
    }
}